

#home-page{
  height:100%;
  background:var(--background);
  
  header {
    background:var(--white);
    box-shadow: 0px 1px 5px var(--black);  

    
    .line {
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      width: 100%;
      position: fixed;
      background: var(--white);
      z-index: 1;

      figure img {
        width: 100%;
        max-width: 13rem;
        transition: filter 1s;
        margin: 10px;
        filter: brightness(20%);
      }
    }
        .introduction {
          gap: 5px;
          display: flex;
          width: 100%;
          padding: 25px;
          flex-wrap: wrap-reverse;
          justify-content: center;
          align-content: center;
          padding-top: 12rem;
          
          
          .introductionText {
            width: 50%;
            min-width: 300px;
            text-align: center;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: var(--black);
            transition: all 1s;
          }

          img{
            width: 40%;
            max-width: 40rem;
            min-width: 15rem;
          }

          button {
            width: 50%;
            max-width: 200px;
            height:3rem;
            background:var(--blue-medium);
            border:none;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
          }
        }
  }

  main {
    background: rgba(0,0,0, .2);
    color: var(--black);
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    section {
      text-align: left;
      max-width: 90%;
      margin: 4.5rem 0;

      p{
        margin-top: 3rem;
      }
    }
  }

  // footer {

  // }

}

@media only screen and (min-width: 768px){

  #home-page {
    header {
      .line {
        position: initial;
      }

      .introduction{
        padding-top: 0;
      }
    }
  }

}

#darkmode:checked ~ #home-page .line figure img {
  filter: brightness(100%);
}

#darkmode:checked ~ #home-page .introductionText button {
  background-color: #04133d;
  color:#f8f8f8;
}