header {
    background:var(--white);
    box-shadow: 0px 1px 5px var(--black);  
    z-index: 1;
  
    
    .line {
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      width: 100%;
      position: fixed;
      background: var(--white);
      z-index: 1;
      
  
      figure img {
        width: 100%;
        max-width: 13rem;
        transition: filter 1s;
        margin: 10px;
        filter: brightness(20%);
      }
    }
    
  }


  @media only screen and (min-width: 768px){
  
  
    header {
      .line {
        position: initial;
      }
    }
  
  }

  #darkmode:checked ~ #home-page .line figure img {
    filter: brightness(100%);
  }