.footer {
  background: var(--blue-strong);
  color:#f8f8f8;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  gap:20px;
  box-shadow: 0px -1px 5px var(--black) ; 
  
  ul {

    list-style: none;
    display: flex;
    border-top: 1px #f8f8f8 solid;
    padding: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:15px;
    

    li {
      a{
        display:flex;
        flex-direction: column;
        color:#f8f8f8;
        text-decoration: none;
        align-items: center;
        justify-content: center;
      }
    }


  }


  .icone {
    width:2.6rem;
  }
}